<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <nav>Selected Dish: {{checkedDish}}</nav>
      <main>
        <ul>
          <li :key="dish.id" v-for="dish in dishes">
            <div>
              <label :for="dish.name">
                <img :src="dish.url" alt="dish.name" width="180" height="250" />
                <p>{{dish.name}}</p>
                <input
                  type="checkbox"
                  :value="dish.name"
                  :id="dish.name"
                  v-model="checkedDish"
                />
                Add to Cart</label
              >
            </div>
          </li>
        </ul>
      </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>
