#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.plan-wrapper {
  border: 5px dotted #ddd;
  color: black;
}

.plan-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.plan-item {
  background: rgb(202, 255, 166);
  padding: 1rem 2rem;
  border: 2px solid rgb(255, 255, 255);
}

.active {
  background-color: #64b1ff;
}
