$shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
  7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);

@mixin flex($direction: row, $gap: 2rem, $jcc: center, $aic: center) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $jcc;
  align-content: $aic;
}

$red: crimson;
$white: white;
$bordergray: 1px solid lightgray;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  background-color: rgb(250, 235, 235);
  object-fit: cover;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul,
.flex {
  @include flex(row, 2rem);
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

span.status {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 5px;
  background-color: $red;
  color: $white;
  border-radius: 99999px;
}

a {
  display: block;
  cursor: pointer;
}

.toast-message {
  margin-top: 2rem;
  background-color: lightyellow;
  border: 1px solid lavender;
  display: inline-block;
  padding: 0px 20px;
  cursor: progress;
  border-radius: 2rem;

  p span {
    font-weight: 600;
  }
}

/* BUTTON */

.add-to-cart {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: $shadow;
  background: #d90429;
  z-index: 1;

  &:hover:after {
    width: 100%;
    left: 0;
  }

  &:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: $shadow;
    transition: all 0.3s ease;
    background-color: #ef233c;
    right: 0;
  }

  &:active {
    top: 2px;
  }
}

.in-cart {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: ne-resize;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  color: $white;
  background-color: lightslategray;
}

/* BUTTON END */

/* CART // SIDEBAR */

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
  padding: 10px 30px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  overflow: scroll;
  background-color: $white;
  z-index: 1;

  ul {
    @include flex(column, null, null, null);
    border-top: $bordergray;
    border-bottom: $bordergray;
    padding: 2rem 0;
  }

  li {
    width: 100%;
  }

  div {
    @include flex(null, null, space-between);
  }

  div .count {
    margin: 0;
    padding: 4px;
    background-color: $red;
    color: $white;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}

.cart-item {
  @include flex(null, 1rem, flex-start, flex-start);
  flex-wrap: wrap;
}

.cart-item-img {
  @include flex(column, 0.2rem, null, null);
}

.card-item-details {
  @include flex(column, 0.2rem, null, flex-start);

  div {
    align-items: flex-end;
    gap: 0.5rem;
  }

  a[title="Delete Item"]:hover {
    color: $white;
    background-color: lightslategray;
  }

  div a {
    padding: 2px 8px;
    color: $white;
    background-color: $red;
    border-radius: 99999px;
    font-size: 13px;
  }

  p {
    margin: 0;
  }
}

input {
  width: 30px;
  padding: 5px;
  accent-color: $red;
}
