$primary: #5968d7;

#app {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 30px;
}

li {
  list-style: none;
  span {
    display: inline-block;
    width: 100px;
  }
}

.contain {
  width: 400px;
  padding: 10px 40px;
}

input,
select {
  font-family: "Work Sans", sans-serif;
}

button {
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  width: 97.5%;
  text-align: center;
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  transition: 0.25s all ease;
  background: #555;
  margin-bottom: 15px;
  &:hover {
    transform: translateY(1px);
  }
}

select {
  width: 100%;
}

.post,
.new {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 5px 0 10px;
  p {
    font-weight: bold;
    margin: 10px 0 5px;
  }
}

.new {
  background: #111;
  margin-bottom: 40px;
  label {
    font-size: 13px;
  }
  input {
    margin: 0 0 10px;
  }
  select {
    width: 98%;
    margin-bottom: 10px;
  }
  h3 {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 10px 0;
    color: white;
  }
}

.label {
  border: 1px solid #ccc;
  background: white;
  color: black;
  float: right;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
}
